<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<h1>注册</h1>
<form method="post" id="loginForm" onsubmit="checkForm()">
    <input type="text" required="required" placeholder="地址" name="addr"></input>
    <input type="text" required="required" placeholder="用户名" name="usrName"></input>
    <input type="password" required="required" placeholder="密码" name="pwd" id="pwd"></input>
    <button type="submit" class="but">登录</button>
</form>
</body>
</html>